body{
    width:375px;
    height:100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.topo{
    width:375px;
    height:80px;
    position: relative;
    top:0px;
    left:0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topo img:first-child{
    position: absolute;
    top: 16px;
    left: 22px;
}

.topo img:last-child{
    position: absolute;
    top: 18px;
    right: 17px;
}

.rodape{
    width:375px;
    height:80px;
    position:fixed;
    bottom:0px;
    margin: 0 auto;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.rodape img{
    position:absolute;
    bottom: 27px;
    right:18px;
}

.areaChat{
    background: #E5E5E5;
    position: absolute;
    width:375px;
    bottom:80px;
    top:80px;
    margin: auto 0;
}

input{
    height:100%;
    width: 100%;
    border: none;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}